<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- load Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Private Wall</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Welcome user and allow to create a recipe or logout-->
        <div class="header">
            <h1 class="flex1">CodingDojo Wall</h1>
            <div class="logout flex1">
                <h2 class="flex1">Welcome, {{one_user.first_name}}!</h2>
                <button><a href="/logout">Logout</a></button>
            </div>
        </div>
        <!-- message section-->
        <div class="content flex">
            <!-- section to display messages-->
            <div class="flex1">
                <h3>{{message_count}} Message(s) for You</h3>
                {% for one_message in all_messages %}
                    <div class="received_messages_row flex">
                        <p>{{one_message.sender.first_name}} said <br>
                            "{{one_message.message}}"
                        <button><a href="/danger">Delete</a></button>
                    </div>
                    
                {% endfor %}
            </div>
            <!-- section to send messages-->   
            <div class="flex1">
                <h3>Send Messages</h3>
                <p>You have sent ___ messages so far.</a>
                <div class="error_message red">
                    {% with messages = get_flashed_messages(category_filter=["message_sent"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endif%}
                    {% endwith %}
                </div>
                <div>
                    {% for one_friend in all_friends %}
                        <form action="/wall/message/add" method="POST" class="flex flex_end">
                            <div class="message_row">
                                {{one_friend.first_name}}
                                <textarea name="message" cols="40" rows="3"></textarea>
                                <button class="submit" type="submit" class="btn">Send</button>
                            </div>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>