<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{session['count']}} times</p>
    <form>
            <button action="/count" method="POST" class="blue">Click</button>
            <button action="/destroy_session" method+"POST" class="red">Reset</button>
</form>
</body>
</html>