<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Great Number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!!!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    {% if 'user_guess' in session:%}
        <div id="wrong">
            {% set user_guess =session['user_guess']|int %}
            {% set answer =session['answer']|int %}
            <h2>
                {% if user_guess < answer: %}
                    Too low!
                {% else: %}
                    Too high!
                {% endif %}
            </h2>
        </div>
    {% endif %}
    <div class="guess_box">
        <h2>Take a guess!!</h2>
        
        <form action="/guess" method="POST">
            <input type="number" name="user_guess" value="{{session['user_guess']}}">
            <button type="submit">Guess</button>
        </form>
    </div>
</body>
</html>