* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    width: 1000px;
    margin:auto;
    display: flex;
}


/*#home {
    text-align:left;
}*/

.flex_1 {
    flex: 1;
    margin: 20px 40px;
}

.ninja {
    width: 800px;
    margin: 20px 10%;
}

table {
    border: black 2px solid;
}