* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: sans-serif;
}

#main {
    width: 1200px;
    margin: auto;
    display: flex;
    padding: 12px;
}

.container-fluid, #warning {
    width: 1200px;
    margin: auto;
    background-color: navajowhite;
    padding-right: 0;
    padding-left: 0;
}

.header {
    display: flex;
    background-color: slategray;
    color: #FF9900;
    padding: 12px;
}

.logout {
    display: flex;
    justify-content: flex-end;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
    padding: 10px;
}

.flex_end {
    align-items: flex-end;
    justify-content: flex-end;
}

#login, #registration {
    padding: 20px;
    background-color: gray;
}

#registration {
    margin-right: 100px;
}

#registration h2 {
    color: #FFB74B;
}

#login h2 {
    color: #FF9900;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2 {
    font-weight: bold;
}

button {
    background-color: #FFB74B;
    Padding: 3px 5px;
    font-weight: bold;
    border-radius: 5px;
    border: darkslategray 2px solid;
}

#login button {
    background-color: #FF9900;
}

label {
    color: whitesmoke;
}

.form-text {
    color: black;
}

.red {
    color: red;
}

#warning {
    text-align: center;
    height: 500px;
    padding: 20px;
    font-weight: bold;
}

#warning * {
    margin-bottom: 100px;
}

#warning p {
    font-size: xx-large;
}
